//endpoint.scss
$active_bg: #286090;
$active_font: #FFF;
$image_hover_bg: rgba(0,0,0,0.5);

.check-block{
	position:relative;
	margin-right:20px;
	span{padding-right: 26px!important; border: 1px solid #ccc; width: 200px; display: inline-block; border:1px solid grey!important; border-radius:4px!important}
	input{position: absolute;bottom: 0px;right: 20px;top: 0px;margin: auto;}

}
.icon_class{width:40px;height:40px;}
.abs_icon{float: right;width: 80px;height: 80px;}
.text-vertical td{vertical-align:middle!important}
.text-vertical td input, .text-vertical td textarea{@extend .form-control}
.input-group .Select.is-open{z-index:100}
.input-group .input,.input-group .Select{z-index:10}
.input-group {
    margin-bottom: 10px;
}
.row-area {
	@extend .row;
	margin-top:20px
}
.column {
	@extend .col-md-4;
}
.content {
	@extend .col-xs-6;
	@extend .col-sm-6;
}
.right-side {
	@extend .col-xs-8;
	@extend .col-sm-8;
}
.left-side {
	@extend .col-xs-3;
	@extend .col-sm-3;
}

.active{
	background-color:$active_bg;
	color:$active_font;
}

.left-side li a:focus{@extend .active}
.well-default{
	float: left;
	background-color: white;
	border:none;
	box-shadow:none;
	@extend .well-sm;
}
.galImages{
	    height: 135px;
		margin-bottom: 10px;
		width: 180px;
    }

.inputGroupAddon .Select-control{border-radius:0px 4px 4px 0px;}
.imageBox{position:relative;    cursor: pointer;}
div.blurWithName div{padding-top: 50px;}
div.blurWithName{
	display: none;
    width: 100%;
    height: 100%;
    background-color: $image_hover_bg;
    position: absolute;
    top: 0px;
    left: 0px;
    color:$active_font;
	}
.imageBox:hover > .galImages{box-shadow: 0px 0px 15px 3px green;}
.imageBox:hover > div.blurWithName{display:block;}
.borderItem{
	padding: 6px;
    border: 1px solid grey;
    position: fixed;
    left: 250px;
    top: 121px;
    width: 64%;
    z-index: 100;
    background-color: white;
}

input[type='button'],input[type='submit']{
	@extend .btn;
	@extend .btn-default;
	}

table{
	@extend .table;
	@extend .table-hover;
	@extend .table-bordered;
	@extend .text-center;
	td{vertical-align:middle!important;}
}
.chatBox{
	word-wrap: break-word;
    word-break: break-all;
    height:500px;
    overflow-y:scroll;
	.messageItem{
		float: left;
		padding: 2px 4px 4px 4px;
		margin-top: -3px;
		border: 1px solid #cac5c5;
		box-sizing: border-box;
		border-radius: 4px;
		box-shadow: 2px 2px 5px 0px;
		margin: 12px;
		.messageName{
			padding: 2px;
			letter-spacing: 1px;
			font-weight: bold;
			display: block;
			a{
				text-decoration:none;
				color:inherit;
				&:hover{text-decoration:underline;}
			}
		}
		.messageText{
			padding: 2px;
			display: block;
			font-style: italic;
		}
		.messageTime{
			@extend .small;
			@extend .pull-right;
		}
	}
}
.alert{
	position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 40%;
    height: 200px;
    z-index: 100;
    .panel{
		position: relative;
		width:100%;
	}
	.close{
		position: absolute;
		top: 7px;
		right: 14px;
	}
}
